@*
    DirSFTP
    Copyright (C) 2023  Raphael Beck

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@inject IConfigStorage ConfigStorage
@inject NavigationManager NavigationManager

@page "/add-new-connection"

@using GlitchedPolygons.DirSFTP.Services.Config
@using GlitchedPolygons.DirSFTP.Models

<PageTitle>DirSFTP - Add new connection</PageTitle>

<h1>
    Add new SFTP connection
</h1>

<br />

<h2>
    Save a new set of SFTP connection details by compiling the form below.
</h2>

<br />

<p>
    Make sure to double-check all the fields against typos!
</p>

<br />


<label>Host</label>
<input type="text"
       placeholder="sftp.example.com"
       @bind="host" />

<label>Port</label>
<input type="number"
       placeholder="22"
       @bind="port" />

<label>Username</label>
<input type="text"
       placeholder="gordon"
       @bind="username" />

<label>Password</label>
<input type="password"
       @bind="password" />

<label>Private key</label>
<textarea @bind="privateKey" rows="3"></textarea>

<label>Private key passphrase</label>
<input type="password" @bind="privateKeyPassphrase" />

<label>Default remote directory</label>
<Entry />

<button @onclick="OnClickCancel">
    Cancel
</button>

<button @onclick="OnClickSave">
    Save
</button>

@code
{
    private string host;
    private int port;
    private string username;
    private string password;
    private string privateKey;
    private string privateKeyPassphrase;
    private string remoteDirectory;

    protected override async Task OnInitializedAsync()
    {
    }

    private void OnClickCancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private void OnClickSave()
    {
    // TODO: save conn details to SecureStorage here

        NavigationManager.NavigateTo("/");
    }
}