@*
    DirSFTP
    Copyright (C) 2023  Raphael Beck

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@inject IConfigStorage ConfigStorage
@inject IFingerprintService FingerprintService
@inject NavigationManager NavigationManager

@page "/"

@using GlitchedPolygons.DirSFTP.Services.Config
@using GlitchedPolygons.DirSFTP.Models
@using GlitchedPolygons.DirSFTP.Services.HostKey
@using GlitchedPolygons.ExtensionMethods

<PageTitle>DirSFTP</PageTitle>

<h1>
    Welcome to DirSFTP!
</h1>

<br />

@if (sftpConfigs.NotNullNotEmpty())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Connection
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (SftpConfig sftpConfig in sftpConfigs)
        {
            <tr>
                <td style="font-weight: 600; word-wrap: anywhere">
                    @sftpConfig.Username@@@sftpConfig.Host:@sftpConfig.Port/@sftpConfig.DefaultRemoteDirectory.TrimStart('/').TrimStart('\\')
                </td>
                <td>
                    <a href="javascript:void(0)"
                       style="margin-right: 6px"
                       @onclick="() => OnClickConnect(sftpConfig)">
                        Connect
                    </a>

                    <a href="javascript:void(0)"
                       style="margin-right: 6px"
                       @onclick="() => OnClickEdit(sftpConfig)">
                        Edit
                    </a>

                    <a href="javascript:void(0)"
                       @onclick="() => OnClickRemove(sftpConfig)">
                        Remove
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<br />

<button @onclick="OnClickAddNewConnection"
        class="btn btn-primary mt-1">
    ﹢ Add new connection
</button>

@code
{
    private IList<SftpConfig> sftpConfigs = null;

    protected override async Task OnInitializedAsync()
    {
        await RefreshConfigList();
    }

    private async Task RefreshConfigList()
    {
        sftpConfigs = (await ConfigStorage.GetAll()).ToList();
    }

    private async Task OnClickConnect(SftpConfig config)
    {
        bool trustedHostKey = await FingerprintService.CheckFingerprint(config.Host, config.Port);

        if (trustedHostKey)
        {
    // TODO: connect
        }
        else
        {
            await Application.Current!.MainPage!.DisplayAlert("Connection failed", $"SFTP Connection to {config.Username}@{config.Host}:{config.Port} either failed or was prevented due to untrusted/mismatching host key fingerprints.", "OK");
        }
    }

    private async Task OnClickEdit(SftpConfig config)
    {
    // todo
    }

    private async Task OnClickRemove(SftpConfig config)
    {
        if (Application.Current?.MainPage is null)
        {
            return;
        }

        bool confirmed = await Application.Current.MainPage.DisplayAlert("Are you sure?", $"Do you really want to delete the saved connection details for {config.Username}@{config.Host}:{config.Port} ?", "Yes, remove", "No, keep");

        if (!confirmed)
        {
            return;
        }

        bool success = await ConfigStorage.Remove(config.Id);

        if (!success)
        {
            await Application.Current.MainPage.DisplayAlert("Error", $"Failed to delete the saved connection details for {config.Username}@{config.Host}:{config.Port}", "OK :/");
            return;
        }

        await RefreshConfigList();
    }

    private void OnClickAddNewConnection()
    {
        NavigationManager.NavigateTo("/connection-editor");
    }
}